.warm {
  background-image: url('./img/warm.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.cold {
  background-image: url('./img/cold.jpg');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.rain {
  background-image: url('./img/rain.jpg');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}